.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.weather-list{
  display: flex;
  flex-direction: row;
  margin: 15px;
  min-height: 250px;
}

.weather-card{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  margin-right: 10px;
  padding: 10px;
  border: solid 1px #f0f0f0;
  border-radius: 4px;
}

.weather-card-image{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weather-card-image img{
  align-self: center;
}

.weather-card-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weather-form{
  display: flex;
  flex-direction: column;
  width: 200px;
  align-self: center;
  margin: auto;
}

.weather-form > *{
  margin-bottom: 10px;
}

.weather-card-close{
  position: absolute;
  right: 0;
  top: 0;
}

.weather-card-close{
  display: none;
}

.weather-card-close button{
  background-color: #fff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  outline: none;
}

.weather-card:hover .weather-card-close{
  display: block;
}